@charset "UTF-8";
/* Reseteo de CSS */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

/* Establece medida del rem */
html {
  font-size: 62,5%;
  height: 100%; }

/* Estilo para menu */
.headerIndex {
  background-color: #1c698d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: headerIndex;
  background-image: linear-gradient(to right, #1c698d, green); }

.headerIndex img {
  padding: 10px; }

.menu li {
  list-style-type: none;
  /* Saca los puntos de la lista */
  display: inline-block;
  /* Pone los items uno al lado de otro */
  padding-right: 10px; }

.menu li a {
  text-decoration: none;
  /* Saca el subrayado */
  color: white;
  font-size: 20px; }

.milogo {
  width: 80px;
  height: 80px;
  border-radius: 150px; }

footer {
  background-image: linear-gradient(to right, #1c698d, green);
  text-align: center;
  margin-top: 95px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  grid-area: pie;
  justify-content: space-evenly; }
  footer .rede_soc img {
    width: 50px;
    display: inline-flex;
    border-radius: 50%; }

/* Fuentes, Tamaños y Colores */
/* Estilos para Index */
.principal {
  grid-area: titulo; }
  .principal .principal__titulo {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    background-color: #379c97;
    border: solid 3px black; }
  .principal .principal__subtitulo {
    text-align: center;
    margin-bottom: 20px; }

.contenedor {
  background: #aaddfc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr 0.3fr 0.5fr 0.5fr 150px;
  grid-template-areas: "headerIndex headerIndex" "titulo titulo" "p1 p2" "p3 p4" "pie pie"; }

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }
  .info p {
    padding: 20px; }

.productos {
  grid-area: p1; }

.productos2 {
  grid-area: p2; }

.productos3 {
  grid-area: p3; }

.productos4 {
  grid-area: p4; }

/* Estilo para galeria */
.contenedorGal {
  background-color: #aaddfc; }
  .contenedorGal .galeria {
    grid-area: gale;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 100px; }
    .contenedorGal .galeria .galeria_titulo {
      text-align: center; }
  .contenedorGal .contenedorImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 0.8fr 150px;
    grid-template-areas: "img1 img1 img2" "img3 img4 img5" "img6 img7 img8" "pie pie pie";
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 20px; }
  .contenedorGal .img1 {
    grid-area: img1; }
  .contenedorGal .img2 {
    grid-area: img2; }
  .contenedorGal .img3 {
    grid-area: img3; }
  .contenedorGal .img4 {
    grid-area: img4; }
  .contenedorGal .img5 {
    grid-area: img5; }
  .contenedorGal .img6 {
    grid-area: img6; }
  .contenedorGal .img7 {
    grid-area: img7; }
  .contenedorGal .img8 {
    grid-area: img8; }

/* Estilo para servicios */
.tituloServicios {
  text-align: center;
  margin: 50px;
  padding: 50px;
  border: solid 5px green; }

.subtituloServicios {
  padding-left: 100px;
  padding-bottom: 100px; }

.listaServicios {
  list-style-type: none;
  font-size: 20px;
  text-align: left;
  background-color: #d5d693;
  margin-top: 20px;
  margin-right: 400px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 400px;
  padding-bottom: 80px;
  padding-left: 20px;
  border: solid 3px black; }
  .listaServicios li a {
    color: black;
    padding: 15px; }

/* EStilo para nosotros */
.cajaOver {
  background-color: #87afa2;
  width: 500px;
  height: 500px;
  overflow: auto; }
  .cajaOver p {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px; }

/* Estilos para contactos */
.tituloContacto {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px; }

.tituloContacto_subt {
  color: green;
  text-align: center; }

.tituloContacto_subt_subt2 {
  color: red;
  text-align: center; }

.formContacto div {
  padding: 15px; }

.mapa {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }

/* Responsive para tables */
/* Responsive para moviles */
@media screen and (max-width: 500px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr repeat(4, 0.8fr) 0.1fr;
    grid-template-areas: "headerIndex" "titulo" "p1" "p2" "p3" "p4" "pie"; }
  .headerIndex {
    flex-direction: column; }
  .milogo {
    padding: 15px; }
  .menu {
    padding: 10px; }
  .redesoc {
    display: none; }
  .productos div {
    flex-wrap: wrap; }
  .productos h2 {
    display: none; }
  .productos2 div {
    flex-wrap: wrap; }
  .productos3 div {
    flex-wrap: wrap; }
  .productos4 div {
    flex-wrap: wrap; }
  .principal {
    width: 500px; }
  .principal__titulo {
    font-size: 30px; }
  .principal__subtitulo {
    font-size: 20px; } }
