/* Estilos para contactos */

.tituloContacto{
    text-align: center;
}
.tituloContacto_subt{
    color: green;
}
.formContacto div{
    padding: 15px;
}
.mapa{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bodyCont{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;

}

.piepagContacto{
    align-self: flex-end;
}