/* Estilo para galeria */


.galeria{
    text-align: left;
    padding-left: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
}
.contenedorImg{
    display: grid;
    width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img1 img1 img2"
    "img3 img4 img5"
    "pie pie pie";
    justify-items: center;
    align-items: center;
    justify-content: start;
}


.img1{
    grid-area: img1;

}

.img2{
    grid-area: img2;
}

.img3{
    grid-area: img3;
}

.img4{
    grid-area: img4;
}

.img5{
    grid-area: img5;
}

.piePagina{
    grid-area: pie;
    font-size: 25px;
    text-align: center;

}