/* Estilos para Index */

.principal{
    grid-area: titulo;
    .principal__titulo{
        color: whitesmoke;
        font-size: 50px;
        text-align: center;
        background-color: rgb(55, 156, 151);
        border: solid 3px black;
    }

    .principal__subtitulo{
        text-align: center;
        margin-bottom: 20px;
    }

}


.contenedor{
    background:rgb(170, 221, 252);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.3fr 0.5fr 0.5fr 150px;
    grid-template-areas: 
    "headerIndex headerIndex"
    "titulo titulo"
    "p1 p2"
    "p3 p4"
    "pie pie";
    
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    p{
        padding: 20px;
    }
}

.productos{grid-area: p1;}
.productos2{grid-area: p2;}
.productos3{grid-area: p3;}
.productos4{grid-area: p4;}