/* EStilo para nosotros */




.cajaOver{
    background-color: rgb(135, 175, 162);
    width: 500px;
    height: 500px;
    overflow: auto;
    p{
        font-family: $fuenteTitulo;
        font-size: $tamanoParafo;
    
    }
}
