/* Estilo para servicios */
.tituloServicios{
    text-align: center;
    margin: 50px;
    padding: 50px;
    border: solid 5px green;
}

.subtituloServicios{
    padding-left: 100px;
    padding-bottom: 100px;
}

.listaServicios{
    list-style-type: none;
    font-size: 20px;
    text-align: left;
    background-color: rgb(213, 214, 147);
    margin-top: 20px;
    margin-right: 400px;
    margin-bottom: 40px;
    margin-left: 20px;
    padding-top: 20px;
    padding-right: 400px;
    padding-bottom: 80px;
    padding-left: 20px;
    border: solid 3px black;
    li a{
        color:$colorFuente;
        padding: 15px;
    }
}

