/* Reseteo de CSS */
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* Establece medida del rem */
html{
    font-size: 62,5%;
}

/* Estilo para menu */
.headerIndex{
    background-color: rgb(28, 105, 141);
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: headerIndex;
    background-image: linear-gradient(to right, rgb(28, 105, 141), green);
}
.headerIndex img{
    padding: 10px;
}
.menu li{
    list-style-type: none; /* Saca los puntos de la lista */
    display: inline-block; /* Pone los items uno al lado de otro */
    padding-right: 10px;
}
.menu li a{
    text-decoration: none;  /* Saca el subrayado */
    color: black;
}

.milogo { 
    width: 80px;
    height: 80px;
}


@import "generales";
@import "index";
@import "galeria";
@import "servicios";
@import "nosotros";
@import "contacto";

@import "mediaquery";



